<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>         
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <!--<system.serviceModel>
    <behaviors>
      
    </behaviors>
    <customTextMessageEncoding encoding="utf-8" contentType="text/xml" messageVersion="Soap11Addressing1" />
    <extensions>
      <bindingElementExtensions>
        <add name="customTextMessageEncoding" type="OpcServiceHost,CustomTextMessageEncoder" />
      </bindingElementExtensions>
    </extensions>
  </system.serviceModel>-->
</configuration>
