<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8091/xml" binding="basicHttpBinding"
                bindingConfiguration="Service" contract="Service" name="LocalPort" />
        </client>
    </system.serviceModel>
</configuration>